[project]
	description = An example application repository for the s2i httpd builder image
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/akhilreddyjirra
[access "refs/for/refs/*"]
	read = group user/akhilreddyjirra
	push = group user/akhilreddyjirra
	label-Code-Review = -2..+2 group user/akhilreddyjirra
	label-Verified = -1..+1 group user/akhilreddyjirra
	rebase = group user/akhilreddyjirra
	removeReviewer = group user/akhilreddyjirra
	submit = group user/akhilreddyjirra
[access "refs/heads/*"]
	read = group user/akhilreddyjirra
	create = group user/akhilreddyjirra
	push = +force group user/akhilreddyjirra
	pushMerge = group user/akhilreddyjirra
[access "refs/tags/*"]
	push = group user/akhilreddyjirra
	push = +force group user/akhilreddyjirra
